src/data/df1.csv filter=lfs diff=lfs merge=lfs -text
src/data/df10.csv filter=lfs diff=lfs merge=lfs -text
src/data/df5.csv filter=lfs diff=lfs merge=lfs -text
src/data/df6.csv filter=lfs diff=lfs merge=lfs -text
src/data/df8.csv filter=lfs diff=lfs merge=lfs -text
src/data/df2.csv filter=lfs diff=lfs merge=lfs -text
src/data/df3.csv filter=lfs diff=lfs merge=lfs -text
src/data/df4.csv filter=lfs diff=lfs merge=lfs -text
src/data/df9.csv filter=lfs diff=lfs merge=lfs -text
